.httm {
    background-color: whitesmoke;
    font-family: IRANSans !important;
}
.jumcolor {

    background-color:gold !important;
}
.menuco{
    color: whitesmoke !important;
    font-family: IRANSans !important;
}
.left{
    padding-right: 600px;
}


@font-face {
    font-family: "BTitr";
    src: url("../font/BTitr/BTitrBold.ttf");
}
@font-face {
    font-family: "IRANSans";
    src: url("../font/iranSans/IRANSansWeb(FaNum)_Light.ttf");
}

@font-face {
    font-family: "russa";
    src: url("../font/russa/russa.ttf");
}